.btnn {
  color: black;
  background-color: #3b82f6;
  padding: 8px 15px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnn:hover {
  background-color: #2563eb;
  color: white;
}

.btnnn {
  color: white;
  background-color: #3b82f6;
  padding: 10px 15px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnnn:hover {
  background-color: #2563eb;
  color: white;
}

.btnnnn {
  color: white;
  background-color: #3b82f6;
  padding: 8px 15px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnnnn:hover {
  background-color: #2563eb;
  color: white;
}

.btnnnnn {
  color: white;
  background-color: #c12929;
  padding: 8px 15px;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnnnnn:hover {
  background-color: #ff0000;
  color: white;
}

.text-black {
  color: var(--bc) !important;
}

.bg-white {
  background-color: var(--b1) !important;
}

.text-white {
  color: var(--bc) !important;
}
